doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    meta(name="keywords" content="stories, writing, publishing, read, news, internet, domain, sale")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
