|<!DOCTYPE html>
|<html lang="en">
head
  meta(charset="UTF-8")
  title= title
  meta(name="keywords" content="markdown, html, convert, transform")
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/ghstyle.css')
|<body>
h2= subtitle
div.md
  hr
