body
  padding: 40px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

h1
  color:blue
  font-size: 24pt

p.greeting
  font: 18px "Arial", sans-serif

a
  color: red

div.author-quote
  padding-top: 20px

div.author
  padding-top: 15px

span.author
  font: 14px "Arial", sans-serif

div.quote
  padding-top: 15px
  padding-bottom: 15px

span.quote
  font: 14px "Arial", italic
  font-style: italic

